In [1]:
import glob                         # this module helps in selecting files in a directory 
import pandas as pd                 # this module helps in processing CSV files
import xml.etree.ElementTree as ET  # this module helps in processing XML files.
from datetime import datetime

In [6]:
!curl -o "bank_market_cap_1.json" https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  2815  100  2815    0     0   3364      0 --:--:-- --:--:-- --:--:--  3391

In [11]:
!curl -o "bank_market_cap_2.json" https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  1429  100  1429    0     0   1497      0 --:--:-- --:--:-- --:--:--  1502

In [8]:
!curl -o "exchange_rates.csv"  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
100   590  100   590    0     0    366      0  0:00:01  0:00:01 --:--:--   366

In [9]:
#loading the data from the saved json file into a dataframe
def extract_json_file(file_to_extract):
    dataframe= pd.read_json(file_to_extract, lines = True)
    return dataframe

In [99]:

def extract_files():
    
    extracted_data= pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
    # adding in all the json files to the dataframe 
    for jsonfile in glob.glob("bank_market_cap_1.json"):
        extracted_data = extracted_data._append(extract_json_file(jsonfile),ignore_index=True)
    
    return extracted_data

In [10]:
#loading the data from the saved csv file into a dataframe
def extract_csv_file(file_to_extract):
    dataframe= pd.read_csv(file_to_extract)
    return dataframe

In [65]:
exchange_rate_USD = exch_dataframe.loc[exch_dataframe.iloc[:,0]=="USD"]
exchange_rate_USD

   Unnamed: 0  Rates
31        USD    1.0

In [102]:
#finding the exchange rate for the pound
exchange_rate = exch_dataframe.loc[exch_dataframe.iloc[:,0]=="GBP"]
exchange_rate

  Unnamed: 0     Rates
9        GBP  0.732398

In [104]:
def transform_marketcap(df):
    df.iloc[:,1]=df.iloc[:,1].astype(float) 
    df.iloc[:,1]=round( df.iloc[:,1]*0.732398,3)
    df.columns= ['Name','Market Cap (GBP Â£ Billion)']   
    return df

In [12]:
#setting file paths for the extracted data 
tmpfile    = "temp.tmp"               # file used to store all extracted data
logfile    = "logfile.txt"            # all event logs will be stored in this file
targetfile = "transformed_data.csv"   # file where transformed data is stored

In [91]:
def load(dataframe, target_file):
    target_file = dataframe.to_csv() 
    return target_file

In [92]:
#logging tool 
def log_now(message):
    timestamp_format = '%Y-%m-%d-%H:%M:%S'
    now = datetime.now() #current timestamp 
    timestamp= now.strftime( timestamp_format)  #strftime method is used to convert the now timestamp into our desired format
    with open("logfile.txt","a") as f:
        f.write( timestamp + ',' + message + '\n')

In [112]:
log_now("ETL Job Started")

In [113]:
log_now("Extraction Phase Started")

In [114]:
bank_market_df = extract_files()
bank_market_df.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [115]:
log_now("Extraction Phase Ended")

In [116]:
log_now("Transformation Phase Started")

In [117]:
bank_market_df = transform_marketcap(bank_market_df)
bank_market_df.head()

                                      Name  Market Cap (GBP Â£ Billion)
0                           JPMorgan Chase                     286.319
1  Industrial and Commercial Bank of China                     252.834
2                          Bank of America                     238.272
3                              Wells Fargo                     225.588
4                  China Construction Bank                     188.519

In [118]:
log_now("Transformation Phase Ended")

In [119]:
log_now("Load Phase Started")

In [120]:
#loading the csv into a pd dataframe 
exch_dataframe = extract_csv_file("exchange_rates.csv")
bank_market_cap_gpb = load(exch_dataframe,targetfile)

In [121]:
log_now("Load Phase Ended")